<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Veículo</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/veiculos/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span>Listar Veículos</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">
			<div th:replace="fragmentos/alert"></div>
			<form
				th:action="${veiculo.id == null} ? @{/veiculos/salvar} : @{/veiculos/editar}"
				th:object="${veiculo}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="modelo">Modelo</label> <input type="text"
							class="form-control" id="modelo" placeholder="Modelo do veículo"
							autofocus="autofocus" th:field="*{modelo}"
							th:classappend="${#fields.hasErrors('modelo')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{modelo}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="anoModelo">Ano modelo</label> <input type="text"
							class="form-control" id="anoModelo" placeholder="Ano do modelo"
							th:field="*{anoModelo}"
							th:classappend="${#fields.hasErrors('anoModelo')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{anoModelo}"></span>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="placa">Placa</label> <input type="text"
							class="form-control" id="placa" placeholder="Placa do veículo"
							th:field="*{placa}"
							th:classappend="${#fields.hasErrors('placa')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{placa}"></span>
						</div>
					</div>

					<div class="form-group col-md-3">
						<label for="uf">UF</label> <select id="uf" class="form-control"
							th:field="*{uf}"
							th:classappend="${#fields.hasErrors('uf')} ? 'is-invalid'">
							<option value="">Selecione...</option>
							<option th:each="uf : ${ufs}" th:value="${uf}"
								th:text="${uf.sigla}"></option>
						</select>
						<div class="invalid-feedback">
							<span th:errors="*{uf}"></span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="anoFabricacao">Ano de Fabricação</label> <input
							type="text" class="form-control" id="anoFabricacao"
							placeholder="Ano de fabricação do veículo"
							th:field="*{anoFabricacao}"
							th:classappend="${#fields.hasErrors('anoFabricacao')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{anoFabricacao}"></span>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="chassi">Chassi</label> <input type="text"
							class="form-control" id="renavam"
							placeholder="Numeração do chassi do veículo"
							autofocus="autofocus" th:field="*{chassi}"
							th:classappend="${#fields.hasErrors('chassi')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{chassi}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="renavam">Renavam</label> <input type="text"
							class="form-control" id="renavam"
							placeholder="Renavam do veículo" autofocus="autofocus"
							th:field="*{renavam}"
							th:classappend="${#fields.hasErrors('renavam')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{renavam}"></span>
						</div>
					</div>
				</div>

				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="marcas">Marca</label> <select id="marca"
							class="form-control" th:field="*{marca}"
							th:classappend="${#fields.hasErrors('marca')} ? 'is-invalid'">
							<option value="">Selecione...</option>
							<option th:each="m : ${marcas}" th:value="${m.id}"
								th:text="${m.nome}"></option>
						</select>
						<div class="invalid-feedback">
							<span th:errors="*{marca}"></span>
						</div>
					</div>


					<div class="form-group col-md-6">
						<label for="tiposVeiculos">Tipo</label> <select id="tiposVeiculos"
							class="form-control" th:field="*{tiposVeiculos}"
							th:classappend="${#fields.hasErrors('tiposVeiculos')} ? 'is-invalid'">
							<option value="">Selecione...</option>
							<option th:each="tv : ${tiposVeiculos}" th:value="${tv.id}"
								th:text="${tv.nome}"></option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{marca}"></span>
						</div>
					</div>

				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="combustiveis">Combustível</label> <select
							id="combustivel" class="form-control" th:field="*{combustivel}"
							th:classappend="${#fields.hasErrors('combustivel')} ? 'is-invalid'">
							<option value="">Selecione...</option>
							<option th:each="c : ${combustiveis}" th:value="${c.id}"
								th:text="${c.nome}"></option>
						</select>
						<div class="invalid-feedback">
							<span th:errors="*{combustivel}"></span>
						</div>
					</div>

				</div>


				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>
